

<h3>Anpassung und Änderungen der Datenschutzerklärung</h3>

<p>Wir behalten uns vor, diese Datenschutzerklärung zu ändern, wenn sich
die Rechtslage oder dieses Online-Angebot oder die Art der
Datenerfassung ändert. Dies gilt jedoch nur bezüglich Erklärungen zur
Datenverarbeitung. Sofern eine Einwilligung des Nutzers notwendig ist
oder Bestandteile der Datenschutzerklärung eine Regelung des
Vertragsverhältnisses mit Nutzern enthalten, erfolgt die Änderung der
Datenschutzerklärung nur nach Zustimmung des Nutzers. Bitte informieren
Sie sich daher bei Bedarf über diese Datenschutzerklärung, insbesondere,
wenn Sie personenbezogene Daten mitteilen.</p>
