

<h3>Sichere Datenübertragung · SSL/HTTPS</h3>

<p>Diese Website nutzt für die Übertragung von Daten zu unserem Server
und zurück zu Ihrem Browser ausschließlich SSL-Verschlüsselung (Secure
Socket Layer) über das HTTPS-Protokoll. Damit sind die Daten nicht von
Dritten veränderbar, und der Absender lässt sich leicht identifizieren.</p>

<p>Sie erkennen das Vorhandensein  der SSL-Verschlüsselung anhand des
vorangestellten Textes „https“ vor der Adresse der Webseite, die Sie im
Browser aufrufen. In vielen Browsern ist die aktive SSL/HTTPS-Verschlüsselung
auch an einem grünen „Schloss-Symbol“ in der Adressleiste zu erkennen.</p>

<p>Dennoch weisen wir darauf hin, dass die Datenübertragung im Internet
(z.B. per E-Mail) generell Sicherheitslücken aufweisen kann. Deswegen
ist es nicht lückenlos möglich, Ihre Daten vor dem Zugriff durch Dritte
möglich zu schützen.</p>
