<h3>Kontaktmöglichkeit</h3>

<p>Wir bieten Ihnen auf unserer Seite die Möglichkeit, mit uns per E-Mail
{% if contactform %}
und/oder über ein Kontaktformular
{% endif %}
in Verbindung zu treten. In diesem Fall werden Ihre gemachten Angaben
gespeichert, damit wir Ihre Kontaktaufnahme bearbeiten können.
Eine Weitergabe an Dritte erfolgt nicht. Ebenfalls gleichen wir Ihre
Daten nicht mit Daten ab, die möglicherweise durch andere Komponenten
unserer Seite erhoben werden.</p>
