<h3>Links zu anderen Webseiten</h3>

<p>Unser Online-Auftritt enthält Links zu anderen Webseiten. Diese
Datenschutzerklärung erstreckt sich nicht auf andere Anbieter.
Wir haben keinen Einfluss darauf, dass deren Betreiber die
Datenschutzbestimmungen einhalten.</p>
