<h3>Ihre Rechte</h3>

<h4>Auskunftsrecht, Berichtigung und Löschung</h4>

<p>Sie erhalten auf Antrag kostenfrei Auskunft über Ihre bei uns gespeicherten
personenbezogenen Daten, deren Herkunft und Empfänger und dem Zweck der
Datenverarbeitung sowie ein Recht auf Berichtigung, Einschränkung der
Verarbeitung oder Löschung dieser Daten. Einer Datenlöschung können gesetzliche
Aufbewahrungsfristen entgegenstehen.</p>

<h4>Einwilligung und Widerrufsrecht</h4>

<p>Wenn Sie eine Einwilligung zur Nutzung von Daten erteilt haben,
können Sie diese jederzeit widerrufen. Hierfür reicht eine einfache
Nachricht an uns.</p>

<h4>Widerspruchsrecht</h4>

<p>Sie haben jederzeit das Recht, einer an sich zulässigen Verarbeitung Ihrer
Daten aufgrund einer besonderen persönlichen Situation zu widersprechen.
Für einen Widerspruch genügt eine einfache Nachricht an uns, in der Sie
Ihren Widerspruch begründen.</p>

<h4>Beschwerderecht</h4>

<p>Sie haben das Recht auf Beschwerde bei einer Aufsichtsbehörde, wenn
Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen
Daten gegen die Datenschutz-Grundverordnung verstößt.</p>
