{#-
/**
 * Verwendete Variablen:
 *
 * - company             Full company name
 * - company_shortname   (optional) Short display name, defaults to "company"
 */
-#}

<p class="lead">{{ company_shortname|default(company) }} als Betreiber
dieser Seite nimmt den Schutz Ihrer persönlichen Daten sehr ernst.
Deswegen werden Ihre personenbezogenen Daten vertraulich behandelt.
Hier erläutern wir, wie und warum das geschieht. </p>
