<h3>Cookies</h3>
<p>Diese Website verwendet Cookies. Dabei handelt es sich um kleine Textdateien,
welche auf Ihrem Endgerät gespeichert werden. Ihr Browser greift auf
diese Dateien zu. Durch den Einsatz von Cookies erhöht sich die
Benutzerfreundlichkeit und Sicherheit dieser Website. Gängige Browser
bieten die Einstellungsoption, Cookies nicht zuzulassen.</p>

<p><i>Hinweis:</i> Es ist nicht gewährleistet, dass Sie auf alle Funktionen
dieser Website ohne Einschränkungen zugreifen können, wenn Sie entsprechende
Einstellungen vornehmen.</p>
